body {
    margin: 10;
    background: url("../img/pattern.png");

    font-family: arial;
    line-height: 1,5;
}

.title {
    font-size: 45px;
    color: #c313c3
}
.card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 5px 10px
        #ccc;
    border-radius: 20px;


}
.card-photo {
    display: block;
    margin: auto;
    padding: 20px;
    width: 215px;
    height: 125px;
    border-radius: 50%;

}
.card-title {
    font-size: 20px;
    text-align: center;
    margin: auto;
    color: #eb7d10

}
.card-text {
    font-size: 14px;
    padding-left: 10px;
}
.card-subtitle {
    font-size: 18px;
    color: #236b74

}
.card-list {
    padding-left: 0px;
    list-style-position: inside;
    font-size: 14px;
    padding-left: 10px;
}
.numbers1 {
    padding-bottom: 10 px;
    padding-left: 10px;
}
.numbers {
    padding-left: 10px;
}
